In [2]:
#listas
lista = [1,2,3,3,4,6,4]

print(lista)
sorted(lista)

[1, 2, 3, 3, 4, 6, 4]

[1, 2, 3, 3, 4, 4, 6]

In [6]:
lista.append(1)

In [7]:
print(lista)
sorted(lista)

[1, 2, 3, 3, 4, 6, 4, 10, 1]

[1, 1, 2, 3, 3, 4, 4, 6, 10]

In [8]:
lista.reverse()

In [10]:
print(lista)

lista.insert(0, 'novo valor')

[1, 10, 4, 6, 4, 3, 3, 2, 1]

In [14]:
lista.pop(1)

10

In [15]:
print(lista)

[1, 4, 6, 4, 3, 3, 2, 1]

In [27]:
lista = list((1,2,3,4,5))
print(lista)

[1, 2, 3, 4, 5]

In [28]:
lista1 = [1,2,3,4]
lista2 = lista1

In [32]:
print(lista1,lista2)

['valor alterado', 2, 3, 4] ['valor alterado', 2, 3, 4]

In [36]:
lista1 = [1,2,3,4]
lista2 = lista1.copy()

In [38]:
lista1[0] = "valor alterado"

In [39]:
print(lista1,lista2)

['valor alterado', 2, 3, 4] [1, 2, 3, 4]

In [16]:
# tuplas
tupla = (1, "henrique", "24/10/1974", "professor")

In [17]:
print(tupla)

(1, 'henrique', '24/10/1974', 'professor')

In [23]:
tupla[0] = 'valor'

TypeError: 'tuple' object does not support item assignment